## Variables: definition

*Variables are placeholders to store data values to recover them later.*

Consider the following analogy: you have a water source and you want to collect some water. If you don't have a placeholder (mug, bucket, bottle,...), you will not be able to collect it as the water will drain through your fingers. 

Variables need to have a name and this name can be anything you want as long as you follow some [rules](https://www.w3schools.com/python/gloss_python_variable_names.asp).

In [1]:
x = 10
y = 20.5
z = 'hello'

In [2]:
print(x)

10

In [17]:
print(y)

20.5

In [18]:
print(z)

hello

## Data Types

Python is a dynamically typed language. That means the interpreter infers the type of an object at runtime. Basic data types are:
- **Integers**: stores positive or negative integer values. In Python, the integer type can be arbitrarily large. _(eg. 10, 3, -5)_
- **Float**: stores decimal numbers. By default, Python interprets any number that includes a decimal point as a double precision floating point number. Like some other programming languages, in Python, there is not much difference between float and double except that float is in-built in Python, while double is imported from a library called `NumPy`. We will talk about the libraries in detail later. _(eg. 20.2, 100.2403, -5.50)_
- **String**: stores a group of characters encapsulated in a single quote or double quotes _(eg. "hello", "Ironhack", "Teacher")_
- **Boolean**: stores either a TRUE or FALSE

To check our data types we will use the function `type()` (in Python, any name which is followed by opening and closing parentheses is a function)

**Integer**

In [53]:
x = 10 
print(x) 
type(x)

10

int

As you can see from the example above, `print` and `type` are followed by `()` and therefore they are functions. They take an argument and the return another value.

**Float**

In [2]:
y = 20.5
print(y) 
type(y)

20.5

float

**String**  
String can  be encapsulated in single quotes or double quotes.

In [4]:
z = "hello" 
print(z) 
type(z)

hello

str

In [1]:
x = 'hello there' 
print(x) 
type(x)

hello there

str

**Note:** As you can see from the examples above, you can define a string using double `" "` or single quotes`' '`. You may wonder when you should use double quotes and single quotes. The short answer is that depends on your string. If your string contains single quotes like `I couldn't make it` then, you must use double quotes. Otherwise, you are safe using single quotes.

**Note:** in the previous two cases, the length of the string was small (they were single-line strings).   
What if we want a string that is more than one line long (multiple line string).  
In such cases, we use three single quotes. And every new line is represented by a '/n' character in the output.

In [25]:
# Multiple line string
x = '''Float - stores decimal numbers. By default, Python interprets any number that includes a decimal point as a double precision floating point number. Like some other programming languages, in Python there is not much difference between float and double except that float is in-built in Python, while double is imported from a library called NumPy.
We will talk about the libraries in detail later.
Hello
There!'''
print(x)
type(x)

Float - stores decimal numbers. By default, python interprets any number that includes a decimal point as a double precision floating point number. Like some other programming languages, in python there is not much difference between float and double except that float is in built in python while double is imported from a library called numpy.
We will talk about the libraries in detail later.
Hello
There!

str

**Boolean**

In [12]:
x = True # this is highlighted in green because it is a key word
print(x) 
type(x)

True

bool

In [13]:
x = False
print(x) 
type(x)

False

bool

In [27]:
x = "True" # In this case it is a string because we encapsulated in double quotes 
print(x)
type(x)

True

str

## Excercise: Data Types

If at the end of the day you close your Jupyter notebook, the next time you open it, the content of any variable in the notebook will be flushed (although the lines of code you wrote the previous day will be present if you saved the notebook before closing it). 

Therefore, the next day, you can't simply select one cell in the middle of the notebook and run it because the content of all the variables will be empty and you will get an error. **You will have to run all the cells in order from the top to the bottom to fill again all your variables.**

**1. For the following variables, use Python to check the data type of the variables.**

In [31]:
x1 = 1.1

x2 = "Ironhack"

x3 = "1.1"

x4 = True 

x5 = "True"

x6 = -1

In [14]:
x1 = 1.1

x2 = "Ironhack"

x3 = "1.1"

x4 = True 

x5 = "True"

x6 = -1

print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))

<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'int'>

**2. What is the difference between `x1` and `x3`?**

In [28]:
#x1 is a float type, while x3 is a string type, confirmed above

2.1

**3.Substract `x3` from `x1`**

In [25]:
x1-x3
#since x3 is a string type and x1 a float one it's not possible to do an actual substraction

TypeError: unsupported operand type(s) for -: 'float' and 'str'

**4. What is the difference between `x4` and `x5`?**

In [ ]:
#x4 is a boolean type while x5 is a string

**5.Substract `x4` from `x5`**

In [29]:
x5-x4
#as seen in the third exercise, you can't substract or do any operation between different types as long as
#they are not numbers (basically you can actually do operators like x1-x6 since they are either a float or an integer)

TypeError: unsupported operand type(s) for -: 'str' and 'bool'

## Operators

Operators are special symbols in Python that are used to perform certain operations such as mathematical operations, logical operations, and comparison operations. The value or the variables that the operator works on are called Operands. 
We will look at some of the more common operators that we use in Python.

In [39]:
# We will define two variables here and use operators on them
x = 10
y = 5

### Arithmetic operators

These are used to perform mathematical operations as shown below:

Here on the left hand side we have the operator and on the right we can see how they can be used with variables
- `+` - Addition (x + y)
- `-`	- Subtraction (x - y)
- `*`	- Multiplication (x * y)
- `/` - Division (x / y)
- `%` - Modulus (x % y)
- `**` - Exponentiation (x ** y)
- `//` - Floor division (x // y)

In [40]:
# You can try and test these operators as shown below

In [31]:
x= 10
y= 5
x+y

15

In [32]:
x= 10
y= 5
x-y

5

In [33]:
x=10
y=5
x*y

50

In [34]:
x=10
y=5
x/y

2.0

In [36]:
x=10
y=5
x%y # Gives the remainder

0

In [39]:
x=10
y=5
x**y # 'y' times multiplication of 'x'

100000

In [40]:
x=10
y=5
x // y # Rounds off the result to the lower interger value on the number line

2

Python also has a `math` library that you can use to perform some more complex mathematical operations.
Libraries in python contain some additional pre-defined functions that the user can directly.
We will talk about libraries in more detail later.

Here we will show how to use [math library](https://docs.python.org/3/library/math.html) for some operations that we have looked at before .

In [49]:
import math # This is the way to have access to all the functions included in the `math` library
math.floor(2.9) # This is the same as 'floor division' operator that we used earlier

2

In [50]:
# This is the same as 'Exponentiation' operator that we used earlier. 
# In this case, the function takes two arguments separated by ','. The first one is the base, 
# and the second is the power. In the example, below we're computing: 2**3
math.pow(2,3)

8.0

In [52]:
math.sqrt(9) #This returns the square root

3.0

### Assignment Operators

These are used to assign values to variables. We have already seen it before when we talked about 'Variables' and 'Data Types'

In [57]:
x = 10
print(x)

10

Some special assignment operators assign the value and perform a simple mathematical operation at the same time. They are shown below:

x += 3  is equivalent to x = x + 3

In [42]:
x = 10
x+=3
print(x)

13

In [43]:
x = 10
x-=3
print(x)

7

In [44]:
x = 10
x*=3
print(x)

30

In [45]:
x = 10
x/=3
print(x)

3.3333333333333335

In [46]:
x = 10
x%=3
print(x)

1

### Comparison Operators

These are to make a comparison between two variables. They return a boolean value, either True or False.
Returns `True` if the condition is met, otherwise returns a `False`.

==  Equal   x == y 
!=  Not equal  x != y 
>   Greater than  x > y 
<   Less than  x < y 
>=  Greater than or equal to  x >= y
<=  Less than or equal to  x <= y

In [58]:
x = 10  # Initialize variable `x` with a value 10
y = 5   # Initialize variable `y` with a value 5

In [76]:
x == y

False

In [77]:
x != y

True

In [61]:
x > y

True

In [62]:
x >= y

True

In [63]:
x<y

False

In [64]:
x <= y

False

### Logical Operators

These operators are used to combine two or more comparison operations.  
It returns True if all the conditions are met.  
Returns a False if any one of the multiple conditions is not met.

In [76]:
x = 10 # First we will initialize variable `x` with a value 10.

**and**

Returns True if both statements are true   
x < 5 and x < 10

In [73]:
x < 5 and x < 10

False

In [77]:
x > 5 and x < 20

True

**or**

Returns True if one of the statements is true     
x < 5 or x < 4

In [86]:
x < 5 or x > 12

False

In [88]:
x == 10 or x > 12

True

**not**

Reverse the result, returns False if the result is true  
not(x < 5 and x < 10)

In [90]:
not(x < 5 or x > 12)

True

In [91]:
not(x == 10 or x > 12)

False

## More Resources:

https://www.programiz.com/python-programming/operators

https://www.tutorialspoint.com/python/python_basic_operators.htm

# Exercise Operators

**1. In this problem we will show you how to take a user input. Use the code and then answer the questions 
that follow:**

x1 = input("Please enter an integer number:")

x2 = input("Please enter another integer number:")

Print the values of the two variables?
What is the data type of `x1` and `x2`?

As you would notice, data type of `x1` and `x2` is string. Even though we entered integers, the input function
converts them into string by default. Now we do some data type conversion from string to integers

x1 = int(x1)  # This converts string into integer and re-initializes `x1`
x2 = int(x2)  # This converts string into integer and re-initializes `x2`

Print the values of the two variables?
What is the data type of `x1` and `x2`?

Now perform simple comparisons between `x1` and `x2`

    Check if the two variables are equal ?
    
    Check if `x1` is greater than `x2`?
    
    Check if `x2` is greater than `x1`?
    
    Check if `x1` is not equal to `x2`?
    

Store the difference between the two varibles `x1` and `x2` in another variable `x3` 
(subtract the smaller number from the larger number)

Increment the smaller of the two variables (`x1` and `x2`) with the difference. Again check if `x1` and `x2`
are equal or not?

In [3]:
x1=input("Please, enter an integer number:")
x2=input("Enter a second integer number:")
print(type(x1))
print(type(x2))
print("It says that they are string type, so it gets converted as an integer via x = int(x)")
x1 = int(x1)
x2 = int(x2)
print("Confirms that the type is now an integer:")
print(type(x1))
print(type(x2))

Please, enter an integer number:25
Enter a second integer number:53
<class 'str'>
<class 'str'>
It says that they are string type, so it gets converted as an integer via x = int(x)
Confirms that the type is now an integer:
<class 'int'>
<class 'int'>

In [4]:
print("Is x1 equal to x2?")
x1 == x2

Is x1 equal to x2?

False

In [5]:
print("x1 > x2?")
x1 > x2

x1 > x2?

False

In [6]:
print("x1 < x2?")
x1 < x2

x1 < x2?

True

In [7]:
print("Is x1 not equal to x2?")
x1 != x2

Is x1 not equal to x2?

True

In [8]:
print("Is x1 not equal to x2? 2nd way")
not (x1==x2)

Is x1 not equal to x2? 2nd way

True

In [19]:
x3 = x2-x1
x1 = x1+x3
x1 == x2
print(x3)

28

**2. In the lesson we talked about 'math' library in python. [Here](https://docs.python.org/3/library/math.html) is a link to the documenation of this library. 
Go through the documentation and try any three more functions on a numerical variable that were not described 
in the lesson.**

In [21]:
import math
x=5.25
math.ceil(x)
print(math.exp(2))
print(math.factorial(3))

7.38905609893065
6

## Additional Material

The students will not be tested on these in the pre-work assessment!!

In [10]:
# We will talk about these later in the bootcamp. The definitions are below for your reference.

In [11]:
x = 10
y = 5

**Identity Operator**

**is**

Returns `True` if both variables are the same object.
The `x` is the `y`.

In [12]:
x is y

False

**is not**

Returns `True` if both variables are not the same object.
`x` is not `y`.

In [13]:
x is not y

True

**Membership Operator**

In [14]:
a = 'I'
b = 'Ironhack'

**in**

Returns `True` if a sequence with the specified value is present in the object.
`x` in `y`.

In [15]:
a in b

True

**not in**

Returns `True` if a sequence with the specified value is not present in the object.
`x` not in `y`.

In [16]:
a not in b

False

**Bitwise Operators**

Bitwise operators are used to performing bitwise calculations on integers. The integers are first converted into binary and then operations are performed on bit by bit, hence the name bitwise operators. Then the result is returned in decimal format.